.overlay {
  background-color: rgba(0, 0, 0, 0.38);
  position: relative;
  height: 100%;
  width: 100%;
}

.formula-text {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-on-main);
  overflow-x: auto;
  overflow-y: hidden;
}

.variable-text {
  color: var(--primary-on-main);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 10px;
  height: 80px;
}