.circleInfo:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.circleInfo {
  transition: 0.5s;
  transform: scale(1);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  height: 100%;
  width: 100%;
}

.cardContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100%;
}

.title {
  position: absolute;
  top: 0;
}