.bigBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(8, 32, 62, 1) 50%, rgba(85, 124, 147, 1) 100%);
    position: relative;
    padding: 30px;
}

.title {
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: bolder;
    color: white;
    margin-bottom: 1rem;
    padding-left: 3%;
}

.subtitle {
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: bolder;
}

.text {
    font-family: "Inter", sans-serif !important;
}

.bigBoxElementLeft {
    padding-bottom: 10%;
}

.bigBoxElementRight {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.bigBoxElementRight img {
    width: 45%;
}