.card {
    width: 25vw;
    min-height: 35vh;
    height: auto;
    display: flex;
    container-type: inline-size;
    container-name: objetivo-card;
}

.cardHeader {
    color: #123d70;
    font-family: "Inter", sans-serif !important;
    font-size: 2em;
}

.cardShortDescription {
    font-family: "Inter", sans-serif !important;
    font-size: 1.3em !important;
    margin-bottom: 2rem;
}

.objetivoGridItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.objetivosList {
    translate: 0.5s;
    transform: translateY(-5vh);
}

.cardContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 !important;
    position: relative;
}

.indicadorCounter {
    font-family: "Inter", sans-serif !important;
    line-height: 1 !important;
    font-size: 3.5rem;
}

.indicadorQuantity {
    font-family: "Inter", sans-serif !important;
    font-size: 1.5rem !important;
}


/* 🟦 Cuando el card mide MENOS de 450px */
@container objetivo-card (max-width: 450px) {
    .cardHeader {
        font-size: 1.2rem;
    }

    .cardShortDescription {
        font-size: 0.9rem;
    }

    .indicadorCounter {
        font-size: 2rem;
    }

    .indicadorQuantity {
        font-size: 0.85rem;
    }
}

/* 🟩 Cuando el card mide MENOS de 350px */
@container objetivo-card (max-width: 350px) {
    .cardHeader {
        font-size: 1rem;
    }


    .indicadorCounter {
        font-size: 1.6rem;
    }

    .indicadorQuantity {
        font-size: 0.75rem;
    }
}

.indicadorBox {
    margin-top: auto;
    padding-top: 1rem;
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    .card {
        width: 80%;
        min-height: 36vh;
        height: auto;
        margin-top: 3vh;
    }

    .indicadorBox {
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0.5rem;
        padding-right: 85px;
        /* Empuja el texto a la izquierda para que no choque con el ícono de 80px */
        min-height: 85px;
        /* Asegura que la tarjeta baje lo suficiente para que quepa el ícono */
        border-radius: 0 0 0 0.5rem;
        width: 100%;
    }

    .indicadorCounter {
        padding-right: 0.5rem;
        font-size: 2rem !important;
    }

    .cardHeader {
        font-size: 1.5em !important;
    }

    .cardShortDescription {
        padding-top: 0.3rem;
        font-size: 1em !important;
        margin-bottom: 1rem;
        /* Un poco de respiro antes de los indicadores */
    }
}

@media (min-width: 769px) and (max-width: 1920px) {
    .cardHeader {
        font-size: 1.6rem !important;
    }

    .cardShortDescription {
        font-size: 1rem !important;
    }
}