.background404 {
    background-image: url('./error.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 155vh;
}

.rocketContainer {
    height: 100%;
    /* background-color: rgba(189, 16, 16, 0.336); */

    position: relative;
}

.rocket {
    position: absolute;
    left: 29%;
    animation-duration: 3s;
    animation-name: RocketMovement;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 40%;
}

.rocketMan {
    width: 100%;
}

.rocketBackground {
    height: 100%;
    background-color: red;
}

.rocketBase {
    width: 40%;
    position: absolute;
    left: 29%;
    bottom: 0%;
    animation-duration: 3s;
    animation-name: BaseOpacity;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.rocketGoesWuWu {
    position: absolute;
    left: 29%;
    width: 40%;
    animation-duration: 3s;
    animation-name: RocketWuWu;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes RocketMovement {
    from {
        bottom: 2%;
        transform: rotate(1deg);
        /* margin-left: 25%; */
    }

    to {
        bottom: 15%;
        transform: rotate(-1deg);
        /* margin-left: -25%; */
    }
}

@keyframes RocketWuWu {
    from {
        bottom: 15%;
        transform: rotate(1deg);
        /* margin-left: 25%; */
    }

    to {
        bottom: 100%;
        transform: rotate(-1deg);
        /* margin-left: -25%; */
    }
}

@keyframes BaseOpacity {
    from {
        opacity: 100%;
        /* margin-left: 25%; */
    }

    to {
        opacity: 0%;
        /* margin-left: -25%; */
    }
}


/** Fallin skies section */
.section {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-position-x: center;
    background-size: cover;
    animation: animateBg 50s linear infinite;
}

@keyframes animateBg {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;
}

.span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;

    }

    100% {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }

}

.span:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}

.span:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.span:nth-child(3) {
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.span:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

.span:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

.span:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

.span:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 1.75s;
}

.span:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

.span:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

.span:nth-child(10) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}