

.cardBody {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif !important;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    transform: skew(50px);
    padding: 10px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
}

.userInformation {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.cardEmail {
    font-weight: bold !important;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    padding: 10px;
}

.emailIcon {
    background: var(--really-darker-gradient);
    background-size: 600% 600%;

    animation: AnimationName 10s ease infinite;
}

.emailIcon a {
    color: white;
    text-decoration: none;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@media screen and (max-width: 768px) {
    .indicadorOwner {
        margin-top: 10%;
    }

    .cardContainer {
        flex-direction: column;
    }

    .imageContainer {
        flex-direction: column;
    }

    .contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 10px;
        border-radius: 10px;
    }


    .link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}