.titleDivider {
    width: 50px;
    color: #989898;
    margin-top: 0;
    border: none;
    height: 4px;
    background-color: #070b46;
    transition: width 2s;
}

.tests:hover > .titleDivider {
    height: 20px;
}