.titleDivider {
    width: 50px;
    color: #989898;
    margin-top: 0;
    margin-left: 0;
    border: none;
    height: 4px;
    background-color: #070b46;
    transition: width 1s;
}

.titleFather:hover > .titleDivider {
    width: 100%;
}

.titleFather:hover {
    cursor: context-menu;
}
