.StarTree {
    margin-bottom: 10vh;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 12px 10px -10px;
    padding: 5vh 0 5vh 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.centeredText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree {
    height: 40vh;
    background-color: aquamarine;
}

.treeHovered {
    background-color: salmon;
}