.card {
  height: 160px;
  transition: font-size 0.2s linear;
  cursor: pointer;
}


@media only screen and (max-width: 810px) {
  .divider {
    width: 15px;
    height: 15px;
    margin-left: 0;
  }
}

.divider-extended {
  width: 80%;
}

.inter {
  font-family: "Inter", sans-serif !important;
  padding-left: 10px;
  padding-right: 10px;
}