.card {
  border-radius: 10px;
  height: 200px;
  color: white;
  transition: font-size .2s linear;
}

.divider {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  margin-left: 1rem;
  transition: width .2s linear;
}

.divider-extended {
  width: 80%;
}